# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.sqlite3

# Django
*.log
db.sqlite3
media/
staticfiles/

# Environment
.env
*.env

# IDEs and Editors
.vscode/
.idea/
*.swp

# macOS
.DS_Store

# Windows
Thumbs.db

api/v.py